/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.sideBarButton {
    -fx-background-color: #728da6;
    -fx-background-radius: 0;
    -fx-border-width: 2;
    -fx-border-style: solid hidden solid hidden;
    -fx-border-color: white;
    -fx-font-weight: bold;
}

.mainContainer {
    -fx-background-color: white;
}

.sairButton {
    -fx-background-color: white;
    -fx-font-weight: bold;
}

.sideBarContainer {
    
}
