/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #728da6;
}

.registerContainer {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.registerButton {
    -fx-background-radius: 20;
    -fx-background-color: #728da6;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.input {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #728da6;
    -fx-background-color: white;
}
