/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: white;
}

.addAdminContainer {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.addButton {
    -fx-background-radius: 20;
    -fx-background-color: #728da6;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.input {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #728da6;
    -fx-background-color: white;
}
